@charset "utf-8";

@media screen and (orientation: portrait) and (max-width:480px) {

    :root {
        --width: calc(32px * 3);
    }

    .container_12 {
        width: 100vw;
    }

    .header {
        width: 98%;
        height: 64px;
        position: relative;
        display: flex;
        opacity: 1.0;
        justify-content: space-around;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    }

    .header #menu {
        display: none;
    }

    .header #search-button {   
        border: none;
        border-radius: 0px;
    } 

    .header fieldset {
        width: 120px;
    }

    .header #upload-video {
        display: none;
    }

    .header #youtube-app {
        display: none;
    }

    .header #setting {
        display: none;
    }

    .header #youtube-search {
        display: none;
    }

    .header fieldset {
        border: 1px solid #ccc;
        background: none;
        box-shadow: none;
        display: none;
    }

    .header fieldset > input[type="button"] {
        width: 40%;
    }

    .header #login {
        width: 48px;
        font-size: 1em;
        border: none;
        fill: black;
        filter:grayscale(100%);
    }

    .header #login ::after {
        content: url("../images/youtube-search-icon.png");
        position: absolute;
        width: 32px;
        height: 32px;
        top: 0;
        right: 3em;
    }

    .header button {
        width: 16px;
        height: 32px;
    }    

    .side-items {
        position:fixed;
        z-index: 500;
        width: 100%;
        height: 10%;
        left:0;
        bottom: 0;
        padding-bottom: 1em;
        background: rgb(255,255,255,0.9);
        overflow: hidden;
    }

    .side-items ul {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .side-items ul li:nth-of-type(3) {
        display: none;
    }

    .side-items svg {
        width: 40%;
        height: 40%;
        fill: rgba(0, 0, 0, 0.9);
    }

    .contents {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .contents .block {
        height: auto;
    }

}

@media screen and (orientation: landscape) and (max-width:768px) {

    :root {
        --width: calc(32px * 4);
    }

    .container_12 {
        width: 98vw;
        overflow-x:hidden;
    }

    .header {
        width: 98%;
        height: 64px;
        position: relative;
        display: grid;
        opacity: 1.0;
        grid-template-columns: 0fr 0fr 10fr 0fr 0fr 0fr 1fr;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    }

    .header #menu {
        display: none;
    }

    .header #search-button {   
        border: none;
        border-radius: 0px;
    } 

    .header fieldset {
        width: 100%;
    }

    .header #upload-video {
        display: none;
    }

    .header #youtube-app {
        display: none;
    }

    .header #setting {
        display: none;
    }

    .header #youtube-search {
        display: none;
    }

    .header fieldset {
        border: 1px solid #ccc;
        background: none;
        box-shadow: none;
    }

    .header fieldset > input[type="button"] {
        width: 10%;
    }

    .header #login {
        width: 48px;
        font-size: 1em;
        border: none;
        fill: black;
        filter:grayscale(100%);
    }    

    .header button {
        width: 16px;
        height: 32px;
    }    

    .side-items {
        position:fixed;
        z-index: 500;
        width: 100%;
        height: auto;
        left: 0;
        bottom: 0;
        padding-bottom: 1em;
        background: rgb(255,255,255,0.9);
        overflow: hidden;
    }

    .side-items ul {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .side-items li {
        height: 30%;
    }

    .side-items p {
        font-size: 1.5em;
    }

    .side-items ul li:nth-of-type(3) {
        display: none;
    }

    .side-items svg {
        width: 20%;
        height: 20%;
        fill: rgba(0, 0, 0, 0.9);
    }

    .contents {
        width: 100%;
    }

    .contents .block {
        width: 100%;
        height: 50%;
        margin-left: 0;
        margin-right: 0;
        flex: 1 1 100%;
        justify-content: flex-start;
        height: auto;
        overflow:hidden;
        padding-bottom: 2px;
        border-bottom: 1px solid #ccc;
    }    

    .contents .video {
        width: 40%;
        height: 70%;
        margin:0;
        padding: 0;
        float: left;
    }

    .contents .description {
        width: 60%;
        height: 100%;
        float: left;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }

    .contents .video-db {
        width: 80%;
        padding-left: 1em;
        line-height: 1em;
    }

    .contents .video-db p {
        display: inline;
    }

    .contents .circle-clipper {
        order: 3;
        padding-left: 1.4em;
    }
}
