.lback{top:10px;left:9px;
width:232px;height:51px;background: url("img/system/sprites.png") no-repeat -0px -0px;}
.lgauge{top:30px;left:10px;
width:232px;height:33px;background: url("img/system/sprites.png") no-repeat -0px -51px;}
.ltext{top:0px;left:60px;
width:129px;height:29px;background: url("img/system/sprites.png") no-repeat -0px -84px;}
